@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-luis-kelly-header;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

:host nav{
  top:0;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 89, 255);
  display: table;
  box-shadow: -1px -10px 15px 7px black;
}
:host div.vertical-align-middle{
  display: table-cell;
  vertical-align: middle;
  align-items: center;
}
:host div div.corner-item, :host div div.middle-item{
  display: inline-block;
  text-align: center;
  line-height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
:host div div.corner-item{width: 19%;}
:host div div.middle-item{width: 59%;}
img{
  vertical-align: middle;
}
h1{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hamburger-menu{
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  background:transparent;
  margin: 15px;
  margin-top: 15px;
}
.menu-line{
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  margin: 10px 0;
}
.help-icon{
  display: block;
  width:40px;
  height:40px;
  border-radius: 50%;
  line-height:40px;
  text-align: center;
  font-size: 25px;
  background: rgba(255, 250, 250,0.9);
  color: cornflowerblue;
  cursor: pointer;
}

.right-corner{
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
}

